@import "tailwindcss";

@theme {
  --default-transition-duration: 200ms;
}

/* Manually define dark mode styles for key classes */
html {
  --bg-primary: 250 250 250;
  --bg-secondary: 255 255 255;
  --text-primary: 9 9 11;
  --text-secondary: 113 113 122;
  --border-color: 228 228 231;
}

html.dark {
  --bg-primary: 9 9 11;
  --bg-secondary: 24 24 27;
  --text-primary: 250 250 250;
  --text-secondary: 161 161 170;
  --border-color: 63 63 70;
}
